.caja-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    background-color: var(--orange2);
    border-radius: 2rem;
    padding: 2rem 1rem;
}

.columnas-formulario {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.filas-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 1rem;
}

.cabecera {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.cabecera a{
    text-decoration: none;
    color: var(--blue);
}

.title {
    background-color: var(--orange1);
    padding: 0% 20%;
}

.close {
    background-color: var(--orange1);
    padding: 0.75rem 0.75rem;
    border-radius: 0.5rem;
}

.close:hover{
    cursor: pointer;
}

.profile-picture-container-view{
  margin-top: 10%;
  width: 50%;
  aspect-ratio: 1 / 1; 
}

.profile-picture-view{
  aspect-ratio: 1 / 1; 
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center
}

.blocked-input{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--gray);
    color: var(--blue);
    font-size: 1rem;
    padding: 0.3rem 4rem;
    border: none;
    font-weight: bold;
    width:50%;
}

@media(max-width:780px){
    .columnas-formulario{
        flex-direction: column;
    }
}
