.caja-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    background-color: var(--orange2);
    border-radius: 2rem;
    padding: 1rem 0rem;
}

.caja-formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.cabecera {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.footer {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}