/*Definición de variables con tipografías, colores y tamaños a utilizar*/
:root {
  /*Paleta de colores*/
  --color-neutro-1: #f0efe7;
  --color-neutro-2: #9d9c9c;
  --color-neutro-3: #281d04;
  --color-principal-1: #f4dcbe;
  --color-principal-2: #937315;
  --color-principal-3: #c71c5e;

  /*Tipografías*/
  --font-logo: "Aventi", sans-serif;
  --font-main: "Satoshi", sans-serif;

  /*Tamaños de fuente*/
  --fs-base: 1rem;
  --fs-label: 1.125rem;
  --fs-link: 1.5rem;
  --fs-medium: 2rem;
  --fs-logo: 2.5rem;
  --fs-big-logo: 4rem;
  --fs-big-title: 4.375rem;
  
  /*Espaciamientos*/
  --spacing-1: 0.6rem;
  --spacing-2: 1.3rem;
  --spacing-3: 2rem;
  --spacing-4: 4rem;
}

/*Configuración básica para eliminar márgenes del navegador*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}