/*
  Estilos del componente de Login.

  Este archivo define los estilos utilizados en los formularios del módulo de login, 
  incluyendo vistas como inicio de sesión, registro y cambio de contraseña.

  Clases principales:
    - container-modulo-login: Contenedor principal de todo el módulo de login.
      - a: Estilos para enlaces de redirección (como "¿No tienes cuenta?").
      - .button-principal: Ajustes específicos al botón principal dentro del login (márgenes).
    - formulario-modulo-login: Contenedor del formulario en sí (inputs y campos).
    - cabecera-modulo-login: Cabecera superior del módulo (título + botón de cierre en la vista de cambio de contraseña).
    - footer-modulo-login: Contenedor inferior con botones de acción como "Guardar cambios" o "Descartar".
      - @media (max-width: 780px): Disposición en columna para pantallas pequeñas.
    - label-formulario-login: Estilo aplicado a las etiquetas de los campos del formulario.
    - separador-o-login: Línea o texto que separa el formulario tradicional del botón de iniciar sesión con Google.
*/

.container-modulo-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    background-color: var(--orange2);
    border-radius: 2rem;
    padding: 1rem 0rem;
}

.container-modulo-login a{
    text-decoration: none;
    color: var(--blue);
}

.formulario-modulo-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.cabecera-modulo-login {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 90%; 
}

.footer-modulo-login {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 80%; 
}

.label-formulario-login {
    align-self: center;
    color: var(--blue);
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.separador-o-login {
    font-size: 1.1rem;
    color: var(--blue);
    margin: 0.5rem 0;
    font-weight: 700;
}

.container-modulo-login .button-principal {
    margin-top: 2rem;
}

@media(max-width:780px){
    .footer-modulo-login{
        flex-direction: column;
    }
}