/*view: contenedor global que ocupa toda la altura de la vista*/
.view{
  display: 'flex'; 
  flex-direction: 'column'; 
  height: '100vh'
}

/*main-content-wrapper: contenedor ubicado dentro de la view debajo de la Navbar*/
.main-content-wrapper {
  display: flex; 
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  box-sizing: border-box; 
}