/*
Este archivo define los estilos del LeftContainer, un contenedor lateral izquierdo que muestra el menú 
de accesos al perfil y notificaciones del usuario.

Se incluyen los siguientes estilos principales:
  - left-container: Define las propiedades del contenedor principal, como su tamaño y estructura. Incluye 
    una regla @media para pantallas menores a 768px que lo mueve fuera de pantalla.
  - toggle-left-container-button: Botón que aparece únicamente en pantallas pequeñas para abrir/cerrar 
    el menú lateral.
  - left-container.open: Combinación de clases que permite desplazar el contenedor al área visible cuando 
    se hace clic en el botón toggle.

También se definen los estilos para los elementos internos del LeftContainer:
  - icono-container: Contenedor del ícono de notificaciones.
  - icono-image: Estilos aplicados directamente al ícono.
  - profile-picture-container: Contenedor de la foto de perfil.
  - profile-picture: Estilos aplicados directamente a la imagen de perfil.
*/

/*Estilos del contenedor principal y su botón de apertura en pantallas menores a 768px*/
.left-container{
  display: flex;
  flex: 0 0 60px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white); 
  border-right: 1px solid var(--gray); 
  padding: 10px 10px;
  box-sizing: border-box;
  overflow-y: auto;
  align-items: center;
  transition: transform 0.3s ease-in-out; 
}

.toggle-left-container-button {
    display: none; 
    position: fixed; 
    bottom: 50%; 
    left: 0.5rem; 
    z-index: 999; 
    background-color: var(--white);
    color: var(--blue);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) { 
    .left-container {
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 60px; 
        height: 100%; 
        transform: translateX(-100%); 
        border-right: none; 
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
        z-index: 998; 
    }

    .left-container.open {
        transform: translateX(0%); 
    }

    .toggle-left-container-button {
        display: block;
    }
}

/*Estilos de ícono, foto de perfil y sus respectivos contenedores*/
.icono-container {
  height: 2rem; 
  width: 2rem;    
}

.icono-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.profile-picture-container {
  height: 2rem; 
  width: 2rem;  
}

.profile-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: center
}