/*
  Componente MenuPerfil
  Este componente muestra los datos del perfil del usuario, permitiendo ver la información 
  personal y navegar a opciones para modificar datos, cambiar contraseña o subir una foto de perfil.

  Estructura del componente:
    - container-seccion-perfil: Contenedor principal del módulo de perfil.
    - cabecera-container-perfil: Cabecera con título "Perfil" y botón para cerrar (volver a home).
      - cabecera-container-perfil a: Estilo aplicado al enlace de cierre.
    - columnas-container-perfil: Contenedor que organiza el contenido en dos columnas.
      - Primer columna:
        - profile-picture-container-view: Contenedor de la imagen de perfil.
        - profile-picture-view: Imagen redonda representando la foto de perfil.
        - Enlaces para subir foto, modificar datos y cambiar contraseña.
      - Segunda columna:
        - Datos personales mostrados en secciones con `h3` y `span` con clase blocked-input.
*/

.container-seccion-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    background-color: var(--orange2);
    border-radius: 2rem;
    padding: 2rem 1rem;
}

.columnas-container-perfil {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.filas-container-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
}   

.cabecera-container-perfil {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.cabecera-container-perfil a{
    text-decoration: none;
    color: var(--blue);
}

.profile-picture-container-view{
  margin-top: 10%;
  width: 50%;
  aspect-ratio: 1 / 1; 
}

.profile-picture-view{
  aspect-ratio: 1 / 1; 
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@media(max-width:780px){
    .columnas-container-perfil{
        flex-direction: column;
    }
}