/*
  Componente PasswordInput

  Este componente reutilizable muestra un campo de entrada de tipo contraseña, 
  con funcionalidad para alternar entre mostrar y ocultar el contenido.

  Estructura:
    - password-input-container: Contenedor general del campo.
      - label: Etiqueta opcional del campo.
      - input-wrapper: Contenedor del input y botón de toggle.
        - input: Campo de tipo password o text, según estado.
        - button.toggle-password-button: Botón para cambiar visibilidad.
          - img.password-toggle-icon: Ícono visual para mostrar u ocultar contraseña.
*/


.password-input-container {
    width: 100%;
}

.password-input-container label {
    display: block; 
    font-weight: bold;
}

.input-wrapper {
    position: relative; 
    display: flex; 
    align-items: center;
}

.input-wrapper input {
    width: 100%; 
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

.toggle-password-button {
    position: absolute; 
    right: 5%; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-toggle-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--blue); 
}