.right-container {
    flex: 0 0 300px;
    background-color: var(--white);
    border-left: 1px solid var(--gray);
    padding: var(--spacing-unit);
    box-sizing: border-box; 
    overflow-y: auto;
    transition: transform 0.3s ease-in-out; 
}

.contact {
    flex: auto;
    background-color: var(--orange2);
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.contact h2 {
    margin-top: 0;
    margin-bottom: 0rem;
    text-align: center;
}

.contact span {
    margin-left: 1rem;
    margin-top: 0;
}

.call-to-action {
    flex: auto;
    background-color: var(--orange2);
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.call-to-action a {
    text-decoration: none; 
}

.call-to-action h2 {
    margin-top: 0.2rem;
    margin-bottom: 0rem;
    text-align: center;
    color: var(--blue); 
}

.call-to-action .imagen-previa {
    height: 100%;
    width: 100%;
    object-fit: contain; 
    border-radius: 2rem;
}

.toggle-right-container-button {
    display: none; 
    position: fixed; 
    bottom: 0.5rem; 
    right: 0.5rem; 
    z-index: 999; 
    background-color: var(--orange1);
    color: var(--blue);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) { 
    .right-container {
        position: fixed; 
        top: 0; 
        right: 0; 
        width: 250px; 
        height: 100%; 
        transform: translateX(100%); 
        border-left: none; 
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
        z-index: 998; 
    }

    .right-container.open {
        transform: translateX(0); 
    }

    .toggle-right-container-button {
        display: block;
    }
}